*{
    margin: 0;
    padding: 0;
}
.accordion-Container{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.accordion{

    height: max-content;
    width: 450px;
}

.accordionitem{ 

    margin-bottom: 5px;
    cursor: pointer;
}

.accordionTitel:hover{ 

   background-color: #b2be2b;
}


.accordionTitle{

    background-color: #b2b;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
}

.accordionContent{

    background-color: rgba(46, 4, 46, 0.2);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    display: none;
}

.accordionitem.active .accordionContent{

    display: block;
}