*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    background-image: url(background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
}

.section{

    height: 57vh;
    width: 57vh;
    margin: auto;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 0.9px 0.9px 15px 0.9px #f8f5f5b4;
}

#countlabel{

    text-align: center;
    margin-top: 5rem;
    font-size: 5em;
    color: #fff;
}

.btncontainer{

    display: flex;
    gap: .2rem;
    justify-content: space-evenly;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.button{

    font-size: 1.5em;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    flex-wrap: wrap;
    box-shadow: 0.1px 0.1px 5px rgba(81, 79, 79, 0.732);
    background-color: royalblue;
}


.button:hover{
    
    background-color: blue;
    transition: ease .3s;
    border-radius: 15px;

}

.copyrights{

    color: #fff;
    padding: 10px;
}