*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(43, 41, 41);
}

body:hover{
    background-color: rgb(21, 175, 142);
}

.calc{

    border: 2px solid #fff;
    border-radius: 15px;
    width: 300px;
    height: 410px;
    margin-top: 80px;
    margin-left: 40%;
    justify-content: center;
    box-shadow: #fff;
    background-color: rgb(21, 175, 142);
    
}

.calc:hover{

    box-shadow:  rgb(21, 175, 142);
    background-color: #fff;
    
}

.button{
    height: 55px;
    width: 50px;
    margin-top: 10px;
    margin-left: 17px;
    font-size: 30px;
    border-radius: 90px;
    background-color: rgb(126, 22, 133);
    color: #fff;
}

.button:hover{
    
    background-color: #f7e301;
    color:rgb(126, 22, 133);
}

.input{
 
    height: 60px;
    width: 280px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 55px;
    padding-left: 1px;
}