*{
    margin: 0;
    padding: 0;
}

.colorSwitchHeading{

    color: #fff;
    text-align: center;
    padding: 5px;
    background-color: rgb(70, 4, 252);
}

.buttonContainer{

    justify-content: center;
    display: flex;
    margin-top: 5rem;
    gap: 3rem;

}

.button{

    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

#black{

    background-color: black;
    color: #fff;
}

#grey{

    background-color: grey;
}

#green{

    background-color: green;

}

#yellow{

    background-color: yellow;
}

#red{

    background-color: red;

}

.buttonPara{

    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
}

@media (max-width: 980px){

    .buttonContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        gap: 1rem;
    
    }

    .buttonPara{

        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}